

.container {
  background-color: #ffff;
  color: #7E574E;
  margin: auto;
  max-width: 900px;


}

.App-header {
  background-color: #ffff;
  text-align: center;
  font-size: 40px;
}

.App-footer {
  text-align: center;
  color: #33524D;
  font-size: 15px;

}

a {
  color: #33524D;
}



